<div class="navbar navbar-test">
  <div class="toggle">
    <i class="fas fa-bars"></i>
  </div>
  <ul class="menu">
    <li><%= t('home.menu') %></li>
    <li><%= t('home.menu') %></li>
    <li><%= t('home.menu') %></li>
    <li><%= t('home.menu') %></li>
    <li><%= t('home.menu') %></li>
  </ul>
</div>